<div class="container">

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr >
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post , class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_post_path(post) , class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, 
                  class:"btn btn-danger btn-xs",style:"color:white" %></td>
        <!-- link modal -->
        <td><%= link_to 'Abrir MODAL', post ,class: "post-detail btn btn-primary btn-xs", 
            remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Novo', new_post_path ,class:"btn btn-success" ,style:"color:white"%>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="postModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal POSTS</h4>
      </div>
      <div class="modal-body">
        <h5><strong> TÍTULO: </strong></h5>
        <p id="post-title"></p>
         <h5><strong> CONTEÚDO: </strong></h5>
         <p id="post-body"></p>
      </div>
    </div>
  </div>
</div>